/* 입력 팝업 화면 */
.popup-menu{
    position: absolute;
    left: 50%;
    top: 50%;
    /*height:95%;*/
    transform: translate(-50%, -50%);
    width: 600px;
    padding:  20px 30px 60px 30px;
    background-color: #fff;
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    overflow-y: auto;
}
/* select박스에 화살표 이미지 추가 */
.custom-select {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 16px; /* 아이콘 크기 설정 */
    height: 16px;
}

/* 숨김 스타일 적용 */
.custom-select::-ms-expand {
    display: none;
}
/* 스크롤바 색깔 */
*::-webkit-scrollbar {
    background: #efefef;
    width: 10px;
  }
  *::-webkit-scrollbar-thumb {
    background: #af9adf;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #603693;
  }
.popup-menu.open, .container.open {
    display: block;
}

.pop-menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pop-menu-title {
    font-size: 24px;
    font-weight: bold;
}

.close-button {
    cursor: pointer;
}
.close-button img {
    width: 20px;
}
.input-form {
    display: flex;
    flex-direction: column;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pop-up-tab {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    text-align: center;
}

.pop-up-tab.incomeTab.active {
    background-color: #ff6b6b;
    color: #fff;
}
.pop-up-tab.expenseTab.active {
    background-color: #4A74FB;
    color: #fff;
}
.date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.date-time div {
    flex: 1;
}

.date-time label {
    display: block;
    margin-bottom: 5px;
}

.date-time input {
    width: calc(100% - 10px);
    padding: 5px;
    border:1px solid #999;
    border-radius: 5px;
}

.repeat-button {
    background: none;
    border: none;
    color: #ff6b6b;
    cursor: pointer;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.input-group label {
    flex: 1;
}

.input-group input, .input-group select {
    flex: 3;
    padding: 5px;
    margin-right: 10px;
    height:2.2em;
    border:1px solid #999;
    border-radius: 5px;
}

.input-group span {
    flex: 1;
}

.memo-button {
    background: none;
    border: none;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button,.search-button, .continue-button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-button {
    background-color: #4A74FB;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}
.save-button.expense-active {
    background-color: #4A74FB;
    color: #fff;
    margin-right: 10px;
}

.save-button.income-active {
    background-color: #ff6b6b;
    color: #fff;
    margin-right: 10px;
}
.continue-button {
    background-color: #f1f1f1;
}

.input-form.expense input:focus, .input-form.expense select:focus{
    border: 2px solid #4A74FB;
    outline: none;
    border-radius: 5px;
}
.input-form.income input:focus, .input-form.income select:focus{
    border: 2px solid #ff6b6b;
    outline: none;
    border-radius: 5px;
}
/* 검색 팝업*/
.search-wrap{
    display: flex;
    justify-content: space-between;
}
.searchForm{
    border: 1px solid #999;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding: 5px;
}
.search-wrap img{
    width: 27px;
    margin-left: 5px;
    cursor: pointer;
}
.filter-title{
    color:#999;
    font-size: 13px;
    padding: 10px 10px 0;
    line-height: 24px;
}
.search-button{
    background-color: #896ccb;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.categoryList{
    padding: 5px;
    line-height: 32px;
    border: 0;
    width: 30%;
    display: inline-block;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
}
