/* content-header */
.week_content-header {
  width: 1315px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px 0px 48px;
}

.week_date_area input {
  width: 350px;
  min-width: 350px;
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  caret-color: transparent;
  padding: 5px;
}

.week_date_pick .react-datepicker {
  width: 240px !important; 
}
/* content-header */

/* week_category_chart */
.week_chart_container {
  margin: 70px 200px 70px 300px;
}

.week_chart_area {
  background-color: rgba(221, 221, 221, 0.05);
  padding: 10px;
  border-radius: 10px;
}

.week_chart_flex {
  display: flex;
  justify-content: center;
}

.week_category_chart_area {
  width: 545px;
  height: 455px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.week_category_chart_title,
.week_pay_title,
.day_pay_title,
.day_pay__detail_main_title {
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
}

.week_category_chart_wrap {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.week_chart_text {
  position: absolute;
  top: 210px;
  left: 100px;
  text-align: center;
  line-height: 30px;
  z-index: -1;
}

.week_chart_text_category,
.week_chart_text_exprese {
  font-size: 15px;
  font-weight: 100;
}

.week_chart_text_category_detail {
  font-size: 22px;
  font-weight: bold;
}
/* week_category_chart */

/* .week_pay */
.week_pay_area {
  width: 750px;
  height: 455px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.week_pay_wrap {
  width: 700px;
  height: 380px;
  margin: 0 auto;
}
/* .week_pay */

/* day_pay */
.day_pay_area {
  width: 895px;
  height: 455px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

#day_pay {
  width: 750px;
  margin: 0 auto;
}
/* day_pay */

/* day_pay_detail */
.day_pay_detail_area {
  width: 400px;
  height: 455px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.day_pay_detail_title {
  font-size: 18px;
  padding: 22px 16px 5px 16px;
}

.day_pay_detail_text {
  font-size: 30px;
  color: rgba(255, 0, 0, 0.5);
  padding: 5px 16px;
}

.day_pay_detail_text span {
  color: rgba(0, 0, 0, 0.5);
}
/* day_pay_detail */
