.content-header {
  border-bottom: 1px solid #ddd;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
}

.date-button {
  display: inline-block;
  color: #222;
  font-size: 16px;
  padding: 15px 0 13px 23px;
  font-weight: 500;
  cursor: pointer;
}

.arrow-down {
  width: 20px;
}

.category_chart_container {
  margin: 70px 200px 70px 300px;
}

.category_chart_area,
.payment_method_area {
  width: 650px;
  height: 660px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 10px;
}

.category_chart_title,
.payment_method_title,
.last_3_month_title,
.top_3_pay_title {
  font-size: 22px;
  font-weight: 700;
  padding: 16px;
}

#category_chart,
#payment_method {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.chart_text {
  position: absolute;
  top: 320px;
  left: 195px;
  text-align: center;
  line-height: 30px;
}

.chart_text_category,
.chart_text_exprese {
  font-size: 15px;
  font-weight: 100;
}

.chart_text_category_detail {
  font-size: 30px;
  font-weight: bold;
}

.last_3_month_area,
.top_3_pay_area {
  width: 650px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
}

#last_3_month,
#top_3_pay {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.flex_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
