#Main-3None {
  height: calc(100vh - 30px);
  background-image: url(../../../public/assets/Main/background2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; /* 수직, 수평 중앙 */
  background-position: 50% 50%; /* 퍼센트로 위치 지정 */
}

.Main3None-CheckBox {
  background-color: #af9adf;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.Main3None-CheckBox p:nth-child(1) {
  font-size: 18px;
  line-height: 25px;
  line-height: 30px;
}
.Main3None-CheckBox button {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px 45px;
}

#Main-3None .Main3-Graph1 {
  height: 70%;
  width: 60%;
  justify-content: space-between;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  padding-top: 50px;
}

.square1 {
  width: 300px;
  height: 280px;
  border: 2px solid #896ccb;
  position: absolute;
  top: -8%; /* 맨 위로 위치 */
  left: 20%; /* 수평 중앙으로 위치 */
  transform: translateX(-50%); /* 수평 중앙 정렬 보정 */
  z-index: -1;
}

.square2 {
  width: 400px;
  height: 400px;
  border: 2px solid #603693;
  position: absolute;
  top: -20%; /* 맨 위로 위치 */
  left: 5%; /* 수평 중앙으로 위치 */
  transform: translateX(-50%); /* 수평 중앙 정렬 보정 */
  z-index: -2;
}
.Main3None-Img img {
  width: 500px;
  height: 500px;
}

.Main3None-Img {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}

.Main3-Graph1.fade-in .Main3None-Img {
  opacity: 1;
  transform: translate(0);
}

.Main3None-Info {
  width: 500px;
  height: 500px;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  padding: 0 50px;
}

.Main3None-Info h2,
.Main4None-Info h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}

.Main3None-Info p:nth-child(2),
.Main4None-Info p:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.Main3None-Info p:nth-child(3),
.Main4None-Info p:nth-child(3) {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 50px;
}

.Main3None-Info p:nth-child(3)::after,
.Main4None-Info p:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 50px;
  background: #603693;
  transition: width 1.2s ease, right 0.2s ease;
}

.Main3-Graph1.fade-in .Main3None-Info p:nth-child(3)::after {
  width: 34%;
  right: 0;
}

.Main3None-Info p:nth-child(4),
.Main4None-Info p:nth-child(4) {
  color: rgb(131, 131, 131);
  line-height: 20px;
}

.Main3-Graph1.fade-in .Main3None-Info {
  opacity: 1;
  transform: translate(0);
}
/* -------------------------------Section4-------------------------------- */

#Main-4None {
  height: calc(100vh - 80px);
  background-image: url(../../../public/assets/Main/background3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; /* 수직, 수평 중앙 */
  background-position: 50% 50%; /* 퍼센트로 위치 지정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Main-4None .Main4-Graph2 {
  height: 70%;
  width: 60%;
  justify-content: space-between;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}

.Main4None-Img {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}

.Main4None-ImgBox {
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main4None-Img img {
  width: 450px;
  height: 450px;
}

.Main4None-Info {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}
.Main4None-Infobox {
  width: 500px;
  height: 500px;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Main4-Graph2.fade-in .Main4None-Info {
  opacity: 1;
  transform: translate(0);
}

.Main4-Graph2.fade-in .Main4None-Img {
  opacity: 1;
  transform: translate(0);
}

.Main4-Graph2.fade-in .Main4None-Info p:nth-child(3)::after {
  width: 45%;
  right: 0;
}

.square3 {
  width: 200px;
  height: 200px;
  border: 2px solid #896ccb;
  position: absolute;
  bottom: -10%; /* 맨 위로 위치 */
  left: 5%; /* 수평 중앙으로 위치 */
  transform: translateX(-50%); /* 수평 중앙 정렬 보정 */
  z-index: -1;
}

.square4 {
  width: 300px;
  height: 300px;
  border: 2px solid #896ccb;
  position: absolute;
  top: -10%; /* 맨 위로 위치 */
  right: -50%; /* 수평 중앙으로 위치 */
  transform: translateX(-50%); /* 수평 중앙 정렬 보정 */
  z-index: -1;
}
/* -------------------------------Section4-------------------------------- */
/* -------------------------------Section5-------------------------------- */
#Main-5None {
  height: auto;
  background-image: url(../../../public/assets/Main/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; /* 수직, 수평 중앙 */
  background-position: 50% 50%; /* 퍼센트로 위치 지정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main5None-CheckBox {
  background-color: #603693;
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Main5None-CheckBox p {
  margin-bottom: 20px;
}

.Main5None-CheckBox p:nth-child(1) {
  font-size: 25px;
}
.Main5None-CheckBox p:nth-child(2) {
  margin-bottom: 10px;
}
.Main5None-Buttton {
  display: flex;
}

.Main5None-CheckBox button {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px 45px;
  margin: 0 20px;
}
/* -------------------------------Section5-------------------------------- */
