#Main-3None {
  height: auto;
}

.Main3None-Content {
  background-color: #efebf3;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.Main3None-Content-Container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.Main3None-CheckBox {
  width: 60%;
}
.Main3None-CheckBox p:nth-child(1) {
  font-size: 18px;
  color: #603693;
  font-weight: bold;
  margin-bottom: 5px;
}
.Main3None-CheckBox p:nth-child(2) {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 30px;
  color: rgb(46, 46, 46);
}

.Main3None-CheckBox p:nth-child(3) {
  font-size: 16px;
  margin-bottom: 40px;
  color: rgb(82, 82, 82);
}
.Main3None-CheckBox span {
  color: black;
  font-weight: bold;
  position: relative;
}

.Main3None-CheckBox span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: -2px;
  left: 0;
  background: #603693;
  transition: width 1.2s ease, right 0.2s ease;
}

.Main3None.fade-in .Main3None-CheckBox span:after {
  width: 100%;
  right: 0;
}

.Main3None-CheckBox button {
  background-color: #896ccb;
  border-radius: 30px;
  padding: 15px 45px;
  color: white;
}

.Main3None-ContentImg img {
  width: 450px;
  height: auto;
}

/* -----------------------------소개시작------------------------------------- */

#Main-3None .Main3-Graph1 {
  height: 70%;
  width: 70%;
  justify-content: space-between;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main3None-Img img {
  width: 800px;
  height: auto;
  margin-bottom: 50px;
}

.Main3None-Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.Main3None-coment {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Main3None-coment p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}

.Main3None-coment span {
  font-size: 25px;
  color: #896ccb;
}
.Main3None-Img {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.Main3None.fade-in .Main3None-Img {
  opacity: 1;
  transform: translateX(0);
}

.Main3None.fade-in .Main3None-Info {
  opacity: 1;
  transform: translateX(0);
}

.Main3None-Info h2,
.Main4None-Info h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Main3None-Info p:nth-child(2),
.Main4None-Info p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: rgb(167, 167, 167);
  margin-bottom: 20px;
}

/* -------------------------------Section4-------------------------------- */

#Main-4None {
  height: calc(100vh - 80px);
  background-image: url(../../../public/assets/Main/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* 배경 이미지가 화면을 덮도록 */
  background-position: center center; /* 수직, 수평 중앙 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#Main-4None .Main4-Graph2 {
  height: 70%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* 하단 정렬 */
  position: relative;
}

.Main4None-Info {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}

.Main4None-Infobox {
  width: 500px;
  height: 500px;
  padding: 0 50px;
}

.Main4None-ImgBox {
  width: auto;
  height: 500px;
  position: absolute;
  right: 0; /* 오른쪽 하단에 배치 */
  bottom: 0;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}

.Main4None-Img img {
  width: auto;
  height: 450px;
}
.Main4-Graph2.fade-in .Main4None-Info {
  opacity: 1;
  transform: translate(0);
}

.Main4-Graph2.fade-in .Main4None-ImgBox {
  opacity: 1;
  transform: translate(0);
}

/* -------------------------------Section4-------------------------------- */
/* -------------------------------Section5-------------------------------- */
#Main-5None {
  height: auto;
  background-image: url(../../../public/assets/Main/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; /* 수직, 수평 중앙 */
  background-position: 50% 50%; /* 퍼센트로 위치 지정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main5None-CheckBox {
  background-color: #603693;
  height: 220px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Main5None-CheckBox p {
  margin-bottom: 20px;
}

.Main5None-CheckBox p:nth-child(1) {
  font-size: 25px;
}
.Main5None-CheckBox p:nth-child(2) {
  margin-bottom: 10px;
}
.Main5None-Buttton {
  display: flex;
}

.Main5None-CheckBox button {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px 45px;
  margin: 0 20px;
}
/* -------------------------------Section5-------------------------------- */
