/* -------------------------------Footer-------------------------------- */
footer {
  width: calc(100% - 250px);
  height: 200px;
  margin-left: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 14px;
  border-top: 2px solid #896ccb;
}

footer .Footer-content {
  text-align: left;
  color: #777;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer-content p:nth-child(2) {
  margin-bottom: 20px;
}

.Footer-content span {
  font-weight: 600;
  color: rgb(88, 88, 88);
}
/* -------------------------------Footer-------------------------------- */
